// Colors
$primary: #16b9ff;
$primaryGrag: linear-gradient(to right, #01c9fb 0%, #16b9ff 100%);
$orangeGrad: linear-gradient(to right, #ff9b43 0%, #ff7200 100%);
$redGrad: linear-gradient(to top, #f80723 0%, #f86004 100%);
$textColor: black;
$cardShadow: 0 10px 20px rgba(0, 0, 0, 0.09);
$themeGray: #f7fafc;

//Sizes

$headerHeight: 6em;